.container {
  padding: 50px;
}

.bar {
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.qn_no {
  display: inline-block;
  margin-right: 10px;
  font-size: 20px;
}

.options ol {
  display: flex;
}

.options ol li {
  flex: 1 100%;
}

.options ol li input {
  margin-right: 10px;
}

.options ol li label {
  cursor: pointer;
  display: inline-block;
  width: 80%;
}

.show_solution {
  padding: 10px;
  cursor: pointer;
  background-color: #dadada;
  color: #353535;
  max-width: 250px;
  text-align: center;
}

.solution_value {
  padding-top: 20px;
  display: none;
}

.solution_value.show {
  display: block;
}

.btn {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

@media (max-width: 700px) {
  .options ol {
    display: flex;
    flex-wrap: wrap;
  }
  .options ol li {
    flex: 1 50%;
    padding: 15px 0;
  }
  .options ol li label {
    width: auto;
  }
  .show_solution {
    background-color: aquamarine;
    color: #353535;
    max-width: none;
  }
  .btn {
    display: block;
  }
}

@media print {
  .solution_value {
    display: block;
  }
}
